In [1]:
3 + 6

9

In [2]:
liste = [2,3,5,4,1]

In [3]:
liste.sort()

In [4]:
liste

[1, 2, 3, 4, 5]

In [5]:
liste.sort(reverse = 1)
liste

[5, 4, 3, 2, 1]

In [6]:
liste

[5, 4, 3, 2, 1]

In [7]:
liste.append(0)
liste

[5, 4, 3, 2, 1, 0]

In [8]:
liste.append(6, 7)
liste

TypeError: list.append() takes exactly one argument (2 given)

In [9]:
liste.append([6, 7])
liste

[5, 4, 3, 2, 1, 0, [6, 7]]

In [10]:
liste.extend([8, 9])
liste

[5, 4, 3, 2, 1, 0, [6, 7], 8, 9]

liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fpnksiyonu kullanmadan bulun. sort fonk da kullanmayın.

In [14]:
liste_1 = [5,6,9,85,23,4,65,47,32,91]

x = 0

min_sayı = liste_1[5]

while x < len(liste_1):

    if min_sayı > liste_1[x]:
        min_sayı = liste_1[x]

    x += 1

print(min_sayı)

4

In [15]:
liste_1 = [5,6,9,85,23,4,65,47,32,91]

x = 0

max_sayı = liste_1[5]

while x < len(liste_1):

    if max_sayı < liste_1[x]:
        max_sayı = liste_1[x]

    x += 1

print(max_sayı)

91

In [16]:
liste_1 = [5,6,9,85,23,4,65,47,32,91]

x = 0

min_sayı = liste_1[5]

max_sayı = liste_1[5]

while x < len(liste_1):

    if min_sayı > liste_1[x]:
        min_sayı = liste_1[x]

    if max_sayı < liste_1[x]:
        max_sayı = liste_1[x]

    x += 1

print(min_sayı, max_sayı)

4 91

# for

In [17]:
for i in "techpro": # for döngüsü iterable lar ile çalışır. 
    print(i)

t
e
c
h
p
r
o

In [18]:
for i in "techpro": # for döngüsü iterable lar ile çalışır. 
    print(i, "-", i * 2)

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [21]:
i

'o'

In [19]:
for k in "techpro": # for döngüsü iterable lar ile çalışır. 
    print(k, "-", k * 2)

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [20]:
k

'o'

In [28]:
liste_2 = [1, 2, 3, 4, 5]

for i in liste_2:
    print(i ** 2)

1
4
9
16
25

In [30]:
x = 0

while x < len(liste_2):

    print(liste_2[x] ** 2)

    x += 1

1
4
9
16
25

In [35]:
for i in (1, 2, 3, 4, 5):
    print(f"{i} sayısının karesi: {i ** 2}")

1 sayısının karesi: 1
2 sayısının karesi: 4
3 sayısının karesi: 9
4 sayısının karesi: 16
5 sayısının karesi: 25

In [34]:
for i in (1, 2, 3, 4, 5):
    print(f"{i} sayısının karesi: {i ** 2}",end="---")

1 sayısının karesi: 1---2 sayısının karesi: 4---3 sayısının karesi: 9---4 sayısının karesi: 16---5 sayısının karesi: 25---

In [33]:
for i in 1543: # int lar iterable olmadığı için for döngüsü çalıştırmaz
    print(i)

TypeError: 'int' object is not iterable

In [24]:
"e" in "hello"

True

In [25]:
"a" in "hello"

False

In [36]:
isimler_listesi = ["irem", "cihan", "bahar", "metehan"]

In [37]:
for i in isimler_listesi:
    print(i.capitalize())

Irem
Cihan
Bahar
Metehan

In [38]:
isimler_listesi

['irem', 'cihan', 'bahar', 'metehan']

"Techpro"

"T-e-c-h-p-r-o"

In [44]:
print("t",sep="*")

t

In [39]:
for i in "Techpro":
    print(i, end="-")

T-e-c-h-p-r-o-

In [42]:
empty_str = ""

for i in "Techpro":
    empty_str += i + "-"

print(empty_str.rstrip("-"))

T-e-c-h-p-r-o

In [45]:
dict_1 = {"name": "dilek", "age": 26, "job": "data_scientist"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_scientist'}

In [46]:
for i in dict_1:
    print(i)

name
age
job

In [47]:
dict_1.values()

dict_values(['dilek', 26, 'data_scientist'])

In [48]:
for i in dict_1.values():
    print(i)

dilek
26
data_scientist

In [50]:
dict_1.items()

dict_items([('name', 'dilek'), ('age', 26), ('job', 'data_scientist')])

In [49]:
for i in dict_1.items():
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data_scientist')

In [52]:
dict_1.items()

dict_items([('name', 'dilek'), ('age', 26), ('job', 'data_scientist')])

In [51]:
for i, j in dict_1.items():
    print(i, j, sep="**")

name**dilek
age**26
job**data_scientist

In [53]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: dilek
key: age, value: 26
key: job, value: data_scientist

In [54]:
dict_2 = {"name": "dilek", "surname": "yılmaz" ,"age": 26, "job": "data_scientist"}
dict_2

{'name': 'dilek', 'surname': 'yılmaz', 'age': 26, 'job': 'data_scientist'}

In [55]:
for i, j in dict_2.items():
    print(f"key: {i}, value: {j}")

key: name, value: dilek
key: surname, value: yılmaz
key: age, value: 26
key: job, value: data_scientist

In [56]:
for i, j in dict_2.items():
    print(f"key: {i:<10}, value: {j}")

key: name      , value: dilek
key: surname   , value: yılmaz
key: age       , value: 26
key: job       , value: data_scientist

In [57]:
for i, j in dict_2.items():
    print(f"key: {i:>10}, value: {j}")

key:       name, value: dilek
key:    surname, value: yılmaz
key:        age, value: 26
key:        job, value: data_scientist

In [58]:
for i, j in dict_2.items():
    print(f"key: {i:>10}, value: {j:^15}")

key:       name, value:      dilek
key:    surname, value:     yılmaz
key:        age, value:       26
key:        job, value: data_scientist

In [61]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
# çalıştırma sonsuz döngü
liste = ["sonsuz döngü"]
for i in liste:
    print(i)
    liste.append(5)

In [64]:
"techpro".center(20)

'      techpro       '

In [65]:
"techpro".rjust(20)

'             techpro'

In [66]:
"techpro".ljust(20)

'techpro             '

In [67]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,51):
    print(f"{i:<2} - Hiç kıyamam ki")

ödev1: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun.

ödev2: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun. Kullanıcı bu aralıktab farklı bir değer girdiyse tekrar doğru değeri girmesini isteyin.