ödev1: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun.

In [10]:
number = int(input("bir sayı girin.1 ve 9 arasında"))

if 1 <= number <= 9:

    for i in range(1,11):

        print(f"{number} x {i:<2} = {number * i}")

else:
    print("girdiğiniz sayı 1 ile 9 arasında değil. ")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
number = int(input("lutfen bir sayi giriniz"))
number_2 = int(input("lutfen baska bir numara giriniz"))

for i in range(1,100)

SyntaxError: invalid syntax (4114186685.py, line 4)

ödev2: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun. Kullanıcı bu aralıktab farklı bir değer girdiyse tekrar doğru değeri girmesini isteyin.

In [ ]:
#ödev 2 çözüm 1
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        for i in range(1,11):

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10 = 50

In [ ]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [ ]:
#ödev 2 çözüm 3 deneme hakkı = 3

sayaç = 0

while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    sayaç += 1

    if 1 <= number <= 9:

        for i in [1,2,3,4,5,6,7,8,9,10]:

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

    if sayaç == 3:
        break

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.

1 den 50(50 dahil) sayıların toplamını bulan kodu yazın. (n * (n + 1)) / 2

In [ ]:
50 * 51 / 2

1275.0

In [ ]:
sum(range(1,51))

1275

In [ ]:
sum([1,2,3,4,5])

15

In [ ]:
sum((1,2,3,4,5))

15

In [ ]:
sum({1,2,3,4,5})

15

In [ ]:
sum(["a","b"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
sum([True, 2, 3.0 ,4, 5])

15.0

In [ ]:
sum([True, 2, 3.0 ,4, 5],100)

115.0

In [ ]:
toplam = 0

for i in range(1,51):
    toplam += i
    
print(toplam)

1275

1 den 50(50 dahil) çift sayıların toplamını bulan kodu yazın.

In [ ]:
toplam = 0 

for i in range(1,51):
    if i % 2 :
        toplam += i
    
print(f"toplnan raklamlar {toplam}")

toplnan raklamlar 625

In [ ]:
#yöntem 1
toplam = 0

for i in range(1,51):

    if i % 2 == 0:
        toplam += i
    
print(toplam)

650

In [ ]:
# yöntem - 2
toplam = 0

for i in range(0,51,2):
    toplam += i
    
print(toplam)

650

In [ ]:
# yöntem - 3
sum(range(0,51,2))

650

## break, continue

In [ ]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [ ]:
#3 ve 3 ün katı olan sayıya denk gelindiğinde kod bitsin. diğer durumda sayıların karesini yazdırın
for i in liste_1:

    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [ ]:
#3 ve 3 ün katı olan sayıya denk gelindiğinde kod devam etsin ancak işlem yapmasın. diğer durumda sayıların karesini yazdırın
for i in liste_1:

    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

In [ ]:
#çift sayıların toplamı. 1 ve 50 arası
# yöntem - 4
toplam = 0

for i in range(1,51):

    if i % 2 == 1:
        continue
    else:
        toplam += i

print(toplam)

650

## zip()

In [ ]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [ ]:
zip(a,b)

In [ ]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [ ]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [ ]:
list(zip(b,a))

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [ ]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"

In [ ]:
list(zip(x,y,z))

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 'ş'), ('h', 'a', 'e')]

In [ ]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"
w = 12345

In [ ]:
list(zip(x,y,z,w))

TypeError: 'int' object is not iterable

In [ ]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [ ]:
meyveler = ["apple", "orange", "apple"]
adet = [1,2,3]

In [ ]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [12]:
name = ["irem", "betül", "Tülay"]
age = [25,26,27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [13]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [ ]:
for item in zip(name,age,job):
    print(item)

('irem', 25, 'data_scientist')
('betül', 26, 'python_developer')
('Tülay', 27, 'data_analyst')

In [ ]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [ ]:
for i, j, k in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}, job: {k}")

name: irem  , age: 25, job: data_scientist
name: betül , age: 26, job: python_developer
name: Tülay , age: 27, job: data_analyst

In [ ]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [ ]:
for i, j in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}")

ValueError: too many values to unpack (expected 2)

In [ ]:
print(list(zip(name,age,job)))

[('irem', 25, 'data_scientist'), ('betül', 26, 'python_developer'), ('Tülay', 27, 'data_analyst')]

In [ ]:
for i, j, k in zip(name,age,job):
    print(f"name: {i:<6}, age: {j}")

name: irem  , age: 25
name: betül , age: 26
name: Tülay , age: 27

In [ ]:
for i in range(1,11):
    print("değişkene ihtiyacım yok")

değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok
değişkene ihtiyacım yok

## enumerate()

In [14]:
name

['irem', 'betül', 'Tülay']

In [ ]:
enumerate(name)

In [ ]:
list(enumerate(name))

[(0, 'irem'), (1, 'betül'), (2, 'Tülay')]

In [15]:
list(enumerate(name,500))

[(500, 'irem'), (501, 'betül'), (502, 'Tülay')]

In [ ]:
list(enumerate(name, 100))

[(100, 'irem'), (101, 'betül'), (102, 'Tülay')]

number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

Listenin min ve max değerleri arasındaki kayıp sayıları bulun

In [1]:
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [3]:
kayip_sayilar = []

for i in range(min(number_list),max(number_list)):

    if i not in number_list:
        kayip_sayilar.append(i)

print(kayip_sayilar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [ ]:
# çözüm - 1
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i not in number_list:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [ ]:
# çözüm - 2
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i in number_list:
        continue
    
    kayıp_sayılar.append(i)

kayıp_sayılar.sort(reverse=True)

print(kayıp_sayılar)

[49, 43, 40, 38, 32, 31, 25, 23, 14, 12, 8]

In [ ]:
#çözüm - 3

full_set = set(range(min(number_list),max(number_list)))

number_set = set(number_list)

full_set - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [24]:
x = int(input("lutfen bir sayi giriniz"))
toplam = 0
for i in range(0,x):
    toplam -= i
print(toplam)

-10

In [ ]:
Bir kullanıcıdan bir sayı isteyin ve bu sayıya kadar olan sayıların toplamını bulun

In [27]:
x = int(input("lutfen bir sayi giriniz"))
toplam = 0
i = 1 
while i <= toplam :
    toplam += 1
    i += 1
print("tum sayilarin toplam", toplam )

tum sayilarin toplam 0

In [26]:
# Kullanıcıdan bir sayı isteyin
sayi = int(input("Bir sayı girin: "))

# Toplamı saklamak için bir değişken tanımlayın
toplam = 0

# 1'den başlayarak girilen sayıya kadar olan sayıları toplayın
i = 1
while i <= sayi:
    toplam += i
    i += 1

# Toplamı yazdırın
print("1'den", sayi, "'e kadar olan sayıların toplamı:", toplam)

1'den 5 'e kadar olan sayıların toplamı: 15

r listede bulunan sayıların toplamını bulun.
Bir listedeki en büyük veya en küçük sayıyı bulun.
Bir listedeki çift veya tek sayıların sayısını bulun.
İki farklı listedeki ortak elemanları bulun.
Bir listedeki elemanları ters çevirin (örneğin, [1, 2, 3] -> [3, 2, 1]).
Bir listedeki elemanları küçükten büyüğe veya büyükten küçüğe sıralayın.
Bir listedeki tekrarlanan elemanları bulun.

In [ ]:
liste = [1, 6, 8, 90, 456]
liste

[1, 6, 8, 90, 456]

In [ ]:
x = 0

while x < len(liste):
    if liste[0] % 2 == 0 :

AttributeError: 'list' object has no attribute 'sum'

In [ ]:
 listedeki elemanların toplamını ve ortalamasını bulun

In [ ]:
liste = [4 , 676, 454, 453, 34, 75, 24]
liste

[4, 676, 454, 453, 34, 75, 24]

In [ ]:
x = 0
toplam = 0
while x < len(liste):
    print(f"listenin toplami",)
    x += 1
    toplam =+ x

listenin toplami {0}
listenin toplami {1}
listenin toplami {2}
listenin toplami {3}
listenin toplami {4}
listenin toplami {5}
listenin toplami {6}

In [ ]:
Bir kullanıcıdan bir sayı isteyin ve bu sayının pozitif, negatif veya sıfır olduğunu belirtin.

In [29]:
x = int(input("lutfen bir ayi giriniz"))

if x > 0 :
    print("pozitiftir")
elif x < 0 :
    print("negatiftir")
else :
    ("girdiginiz sayi sifirdir")

In [ ]:
Bir kullanıcıdan bir yaş isteyin ve bu yaşa göre kişinin ergenlik, yetişkinlik veya yaşlılık döneminde olduğunu belirtin.

In [ ]:
kullanici = int(input("lutfen yasinizi giriniz"))


if kullanici < 20 :
    print(f"bu yas grubu {kullanici} cocuktur")
elif 20 < kullanici < 50 :
    print(f"kulanici {kullanici} yetiskinlik donemindedeir")
else :
    print("yasli")

kulanici 34 yetiskinlik donemindedeir

In [ ]:
r kullanıcıdan bir sayı isteyin ve bu sayının çift veya tek olduğunu belirtin.

In [ ]:
kullanici = int(input("lutfen yasinizi giriniz"))

if kullanici % 2 == 0 :
    print("sayi cifttir")
else:
    print("tektir")

tektir

In [ ]:
Bir kullanıcıdan bir karakter girişi isteyin ve bu karakterin harf, rakam veya özel bir karakter olduğunu belirtin.

In [ ]:
kullanici = int(input("lutfen giriniz"))

if kullanici == int() :
    print("rakamdir")

In [ ]:
Bir kullanıcıdan bir kelime isteyin ve bu kelimenin uzunluğunun 5 karakterden fazla olup olmadığını belirtin.

In [ ]:
kullanici = int(input("lutfen giriniz"))
liste = [(kullanici)]

if len(kullanici) < 5 :
    print("tamamdir")
else : 
    print("hatalidir")

TypeError: object of type 'int' has no len()

In [ ]:
Bir kullanıcıdan alınan bir pozitif tamsayının faktöriyelini hesaplayan bir Python programı yazın.

In [ ]:
x = int(input("lutfen bir tam sayi giriniz"))
faktoriyel = 0
i = 0 
for i in x :
    x =- 1 
    print (f"deger {x}, fakat faktroriye ")
    

    x =- 1

TypeError: 'int' object is not iterable

In [ ]:
liste = range(1,51)
liste

range(1, 51)

In [ ]:
toplam = 0 
i = 1 
for i in range(1,51):
    toplam += i
print(f"{toplam}")

1275

In [ ]:
liste = [1, 5, 8]

liste2 = ["mat", "kimya", "fizik"]

In [ ]:
list(zip(liste,liste2))

[(1, 'mat'), (5, 'kimya'), (8, 'fizik')]

In [ ]:
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

In [ ]:
for i in sayılar_listesi:
    i += 1
    print(f"{i ** 2}")

4
256
9
1369
36
8100
2116
3969
2809
5184
961
3249
2116
9216
3844
2401

In [ ]:
[i * 2 if i == 2 for i in sayılar_listesi]

SyntaxError: invalid syntax (3317038353.py, line 1)

In [ ]:
for i in (1, 2, 3):
    for j in [4, 5 ,6]:
        print(i * j)

4
5
6
8
10
12
12
15
18

def

In [ ]:
def kareler_toplami(x, y):
    print(x ** 2 + y ** 2)

In [ ]:
kareler_toplami(2,6)

40

In [ ]:
kareler_toplami

In [ ]:
len()

In [ ]:
kareler_toplami(23, 465)

216754

In [ ]:
def isarmstrong(x):
    print(4)

In [33]:

i = 0
for i in range(1,11):
    if i % 2 == 0:
        print(f"bu sayilar cifttr {i}")
    else:
        print("bu sayilar {i} tektir")

bu sayilar {i} tektir
bu sayilar cifttr 2
bu sayilar {i} tektir
bu sayilar cifttr 4
bu sayilar {i} tektir
bu sayilar cifttr 6
bu sayilar {i} tektir
bu sayilar cifttr 8
bu sayilar {i} tektir
bu sayilar cifttr 10

In [34]:
soru = int(input("lutfen kilonuzu giriniz"))
soru_2 = input("kilogram mi yoksa pound mu?")

if soru_2 == "kilogr[am":
    print(f"{soru_2 * 1.8}")

TypeError: can't multiply sequence by non-int of type 'float'