Anne, baba ve çocuktan oluşan çekirdek ailenin Süper aile olup olmadığını bulan kodu yazın. isimleri kullanıcıdan isteyin. (Çocuğun ismindeki sessiz harflerin hepsi, anne ve babanın isimlerinde var ise bu aile süper ailedir.(Not: anne ve baba isminden en az bir tane olmalı.). örn1: baba adı = "Halil", anne adı= "Merve", çocuk adı= "Veli" >> Süper aile. ("v" anneden, "l" babadan) örn2: baba adı = "Murat", anne adı= "Songül", çocuk adı= "Mert" >> Süper aile değil. Anneden harf yok.

In [ ]:
baba = input("baba için isim girin").lower()
anne = input("anne için isim girin").lower()
cocuk = input("çocuk isim girin").lower()

cocuk_sessiz_harfler = ""

for i in cocuk:
    if i not in "aeiıuüoö":
        cocuk_sessiz_harfler += i

if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
    print("bu aile süper ailedir")
    
else:
    print("çocuğa isim bile koyamadınız")

çocuğa isim bile koyamadınız

In [ ]:
def super_aile(anne,baba,cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aeiıuüoö":
            cocuk_sessiz_harfler += i

    if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
        print("bu aile süper ailedir")
        
    else:
        print("çocuğa isim bile koyamadınız")

In [ ]:
super_aile("merve","halil","veli")

bu aile süper ailedir

In [ ]:
super_aile("songül","murat","mert")

çocuğa isim bile koyamadınız

In [ ]:
super_aile("Elif","Ahmet","Fatih")

bu aile süper ailedir

In [ ]:
def super_aile(anne,baba,cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aeiıuüoö":
            cocuk_sessiz_harfler += i

    if (set(anne) & set(cocuk_sessiz_harfler)) != set() and (set(baba) & set(cocuk_sessiz_harfler)) != set() and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
        return "bu aile süper ailedir"
        
    else:
        return "çocuğa isim bile koyamadınız"

In [ ]:
super_aile("Elif","Ahmet","Fatih")

'bu aile süper ailedir'

## filter()

In [2]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
filter(None, "hello")

In [4]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [5]:
list(filter(None, [1, 2, 0, 3.14, True, False, 0.0, "Techpro"]))

[1, 2, 3.14, True, 'Techpro']

In [12]:
def find_odds(x):

    if x % 2:
        return True
    else:
        return False

In [8]:
find_odds(6)

False

In [13]:
list(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [14]:
tuple(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [15]:
def find_evens(x):

    if x % 2:
        return False
    else:
        return True

In [16]:
tuple(filter(find_evens, [0,1,2,3,4,5,6,7,8,9]))

(0, 2, 4, 6, 8)

In [21]:
isimler_listesi = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [17]:
def len_5(x):

    if len(x) == 5: return True

In [19]:
len_5("seda")

In [22]:
list(filter(len_5, isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [23]:
def find_armstrong_2(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [25]:
find_armstrong_2(40)

In [27]:
list(filter(find_armstrong_2, range(10,100001)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

## lambda()

In [28]:
def kareler_toplamı(x, y): 
    return x **2 + y ** 2

In [29]:
kareler_toplamı(3,4)

25

In [30]:
lambda x, y: x ** 2 + y ** 2

In [31]:
(lambda x, y: x ** 2 + y ** 2)(3, 4)

25

In [37]:
(lambda x, y: x ** 2 + y ** 2)(3)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
def len_5(x):

    if len(x) == 5: return True

In [33]:
(lambda x: len(x) == 5)("sedat")

True

In [34]:
(lambda x: len(x) == 5)("bilkay")

False

In [40]:
list(filter((lambda x: len(x) == 5), isimler_listesi))

['sedat', 'Bahar', 'Bilge']

In [41]:
(lambda x: x[::-1])("safa")

'afas'

In [42]:
(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [43]:
(lambda x: x[::-1] == x)("ey edip adanada pide ye")

True

In [44]:
(lambda x: x[::-1] == x)("nazan")

True

In [45]:
import pandas as pd

In [46]:
pip3 install pandas

Requirement already satisfied: pandas in c:\users\a\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\a\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\a\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\a\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\a\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
! pip install pandas

In [ ]:
conda install pandas

In [5]:
import pandas as pd

/var/folders/qn/qb9jc0_x3sqccmdfxx14ldxw0000gp/T/ipykernel_5570/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
df = pd.read_csv("adult_eda.csv")

In [7]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
df.education.apply(lambda x:  0  if x == "cok iyi" else "tembel")

0        tembel
1        tembel
2        tembel
3        tembel
4        tembel
          ...
32556    tembel
32557    tembel
32558    tembel
32559    tembel
32560    tembel
Name: education, Length: 32561, dtype: object

In [51]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [54]:
(lambda x: x ** 2 if x % 2 else x * 2)(20)

40

In [56]:
pd.read_csv("adult_eda.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'adult_eda.csv'

In [13]:
(lambda x: x ** 3 if x == False else "sanane")(5)

'sanane'